.navbarContainer {
  background-color: #361c27;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navlink {
  color: #fff;
  text-decoration: none;
  margin-left: 16px;

  &:global(.active) {
    font-weight: bold;
    border-bottom: 2px solid #fff;
  }
}
